.btn {
  border: none;
  transition: background-color 0.3s ease;
}

.btn:hover {
  cursor: pointer;
}

.btn-primary {
  width: 100%;
  padding: 16px 16px 24px 16px;
  border-radius: 15px;
}

.btn-secondary {
  padding: 16px;
  border-radius: 10px;
}

.btn-yellow {
  background-color: var(--color-yellow);
  box-shadow: inset 0px -8px 0px #cc8b13;
}

.btn-yellow:hover {
  background-color: var(--color-yellow-hover);
}

.btn-blue {
  background-color: var(--color-blue);
  box-shadow: inset 0px -8px 0px #118c87;
}

.btn-blue:hover {
  background-color: var(--color-blue-hover);
}

.btn-silver {
  background-color: var(--color-silver);
  box-shadow: inset 0px -4px 0px #6b8997;
}

.btn-silver:hover {
  background-color: var(--color-silver-hover);
}
