$primary: #f2b137;
$primary-light: #ffc860;
$secondary: #31c3bd;
$secondary-light: #65e9e4;
$grey-400: #1a2a33;
$grey-300: #1f3641;
$grey-200: #a8bfc9;
$grey-100: #dbe8ed;

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  font-family: "Outfit", sans-serif;
  margin: 0;
}

html,
body {
  height: 100%;
}

html {
  background-color: $grey-400;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1 {
  font-weight: var(--font-weight-bold);
}

h2 {
  font-weight: var(--font-weight-medium);
}

#root {
  isolation: isolate;
}

:root {
  --font-weight-extra-bold: 700;
  --font-weight-bold: 600;
  --font-weight-medium: 500;
  --font-weight-light: 400;
}
