.layout {
  background-color: var(--color-semi-dark-navy);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-radius: 5px;
  box-shadow: inset 0px -4px 0px #10212a;
}

.layout > * {
  margin-bottom: 4px;
}

.icon-wrapper {
  height: 16px;
  width: 16px;
}

@media only screen and (min-width: 768px) {
  .icon-wrapper {
    width: 20px;
    height: 20px;
  }
}
